.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../public/background.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ff9e00;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 120px;

  background-color: #240046;
  opacity: 80%;
}
.title-header {
  font-size: xx-large;

  margin-left: 60%;
}
.container-nav-header {
  list-style: none;

  display: flex;
  justify-content: space-around;

  width: 50%;
}
.container-nav-header a {
  color: #ff9e00;
  text-decoration: none;
}
.container-main {
  margin-top: 2%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container-info-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  font-size: large;

  width: 60%;
  height: 200px;
  border: 2px solid #240046;
  border-radius: 1em;
}
.info-forms {
  text-align: center;
}
.forms {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 60%;
}
.input-data {
  border: 2px solid #240046;
  border-radius: 1em;
  height: 40px;
  width: 40%;
}
.btn-search {
  background-color: #ff6d00;
  opacity: 70%;
  height: 40px;
  width: 25%;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #240046;
  font-size: large;

  border: 1px solid #240046;
  border-radius: 2em;
}
.container-content {
  margin-top: 2%;
  width: 80%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img {
  max-width: 350px;
  max-height: 350px;
  animation: go-back 2s;

  border-radius: 1em;
}
.info {
  color: #240046;
  border: 1px solid #ff6d00;
  border-radius: 1em;

  height: auto;
  width: 40%;

  display: flex;
  flex-direction: column;

  text-align: center;

  animation: go-back 2s;
}
.title-description {
  margin-top: 15px;
  margin-bottom: 20px;
}
.description {
  margin-bottom: 20px;
}
@keyframes go-back {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.container-footer {
  margin-top: 50px;

  border-top: solid 1px #240046;
  height: 70px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
